.auth {
    background-image: url('./img/logo.png');
    background-color: $accent;
    // background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}