.breadcrumb {
    // box model
    padding: 40px 20px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;

    // typography
    color: $mainColor;
    font-family: $mainFont;
    // visual
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;

    @include atTabletsPortrait {
        padding: 8px 20px;
    }

    &__item {
    color: $mainColor;
    text-decoration: none !important;

    &:first-child {
        &::before {
            content: '';
            display: inline-block;
            padding: 0 5px;
            color:#868e96;
        }
    }
    &::before {
        content: '/';
        display: inline-block;
        padding: 0 5px;
        color:#868e96;
    }
        
        &--active {
            &:hover {
                color: $accent;
                transition: 0.3s ease-in-out all;
            }
        }
    }
}