.button {
    // positioining


    // box model
    // margin-left: 25px;
    padding: 8px 12px;
    display: inline-block;

    // typography
    color: #fff;
    font-family: $mainFont;
    

    // visual
    border: 1px solid $accent;
    border-radius: 5px;
    background: $accent;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
    text-decoration: none;

    &--footer {
        margin-left: 0;

        @include atTabletsLandscape {
            margin-left: 25px;
        }
    }
    &--catalog {
        padding: 8px 12px;
    }

    &--download {
        margin-left: 0;
    }

    &:hover {
        // typography
        color: $accent;

        // visual
        background: none;
        border-color: $accent;
    }
    
    &--prev {
        padding-left: 10px;
        height: 60px;
        width: 100px;
        
        @include atTabletsPortrait {
            // box model
            height: 70px;
        }

        @include atTabletsLandscape {
            // box model
            height: 80px;
        }
        img {
            // box model
            height: 100%;
            width: 100%;
        }
    }

    &--next {
        padding-right: 10px;
        height: 60px;

        @include atTabletsPortrait {
            // box model
            height: 70px;
        }

        @include atTabletsLandscape {
            // box model
            height: 80px;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }
}