.cards {
    // display: flex;
    // flex-direction: column;
    // flex: 1 0 auto;

    &__card {
        // box model
        margin-bottom: 20px;
        border: 1px solid rgba(0,0,0,.125);
        display: inline-block;
        height: 100%;

        &:last-child {
            margin-bottom: 100px;
        }

        @include atTabletsPortrait {
            // box model
            width: 49%;
        }

        @include atTabletsLandscape {
            // box model
            width: 32%;
            justify-content: flex-start;

        }
        @include atDesktop {
            // width: 33.33%;
        }

        &--main {
            @include atDesktop {
                max-width: 19%;
            }
        }


        &:hover {
            border-color: $accent;
        }
    }
    &__container {
        // box model
        // padding: 0 25px;

        @include atTabletsPortrait {
            // box model
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @include atDesktop {
            // box model
            column-count: 5 !important;
            column-gap: 1.25rem;
        }

        &--catalog {
            // box model
            padding: 0 20px;

           
            @include atDesktop {
                // box model
                padding: 0 15px;
                // display: flex;
                // flex-direction: column;
                // // align-items: space-between;
                // flex-wrap: wrap;
                // height: 100%;

                &:nth-child(3) {

                    margin-right: 0;
                }
            }
        }
    }

    &__body {
        // box model
        padding: 20px;
    }

    &__title {
        // box model
        margin-bottom: 12px;

        // typography
        font-size: 1.5rem;
        font-family: $mainFont;
        color: $accent;
    }

    &__text {
        margin-bottom: 16px;
        font-family: -apple-system,BlinkMacSystemFont, "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    }

    &__format {
        margin-bottom: 16px;
        font-family: -apple-system,BlinkMacSystemFont, "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        color: #868e96;
        
    }

    &__footer {
        padding: 17px 20px;
        background-color: rgba(0,0,0,.03);
        border-top: 1px solid rgba(0,0,0,.125);
    }

    &__badge {
        display: inline-block;
        padding: 3px 6px;
        margin-right: 5px;
        color: #fff;
        font-family: 'Helvetica Neue',sans-serif;
        font-weight: 100;
        background-color: #868e96;
        text-decoration: none;
        border-radius: 5px;

        &:hover {
            color: #868e96;
            background-color: #fff;
            transition: 0.3s ease-in-out all;
            // border: 1px solid #868e96;
        }

        &:last-child {
            margin-top: 5px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            border-top-left-radius: calc(.25rem - 1px);
            border-top-right-radius: calc(.25rem - 1px);
        }
    }
}


.cards__card--main:nth-child(5) {
    margin-right: 0;
}
