.cards {

    &__card {
        // box model
        margin-bottom: 20px;
        border: 1px solid rgba(0,0,0,.125);
        display: inline-block;
        vertical-align: top;
        width: auto;

        &:last-child {
            margin-bottom: 100px;
        }

        @include atTabletsLandscape {
            // box model
            width: 325px;
            height: 650px;
        }

        @include atDesktopLarge {
            width: 375px;
            height: 750px;
        }

        &:hover {
            border-color: $accent;
        }

        &--catalog {

            @include atTabletsLandscape {
                position: relative;
               
            }
            @include atDesktop {
                // box model
                margin-right: 75px;
                justify-content: stretch;
                &:nth-child(3n+3) {
                    // box model
                    margin-right: 0;
                }
            }


            @include atDesktopLarge {
                margin-right: 0;
            }
        }

        &--main {
            position: relative;
        }
    }
    &__container {
        // box model
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        &--catalog {
            // box model
            padding: 0 20px;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            
            @include atTabletsLandscape {
                display: flex;
                justify-content: space-around;
            }
            
            @include atDesktop {
                // box model
                padding: 0 15px;
                
                &:nth-child(3) {
                    
                    margin-right: 0;
                }
            }
        }
        &--not-found {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__body {
        // box model
        padding: 20px;
    }

    &__title {
        // box model
        margin-bottom: 12px;

        // typography
        font-size: 1.5rem;
        font-family: $mainFont;
        color: $accent;
    }

    &__text {
        margin-bottom: 16px;
        font-family: -apple-system,BlinkMacSystemFont, "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    }

    &__format {
        margin-bottom: 16px;
        font-family: -apple-system,BlinkMacSystemFont, "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        color: #868e96;
    }

    &__footer {
        // box model
        // display: none;
        width: 100%;
        padding: 17px 20px;
        background-color: rgba(0,0,0,.03);
        border-top: 1px solid rgba(0,0,0,.125);

        @include atTabletsLandscape {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &__badge {
        display: inline-block;
        padding: 3px 6px;
        margin-right: 5px;
        color: #fff;
        font-family: 'Helvetica Neue',sans-serif;
        font-weight: 100;
        background-color: #868e96;
        text-decoration: none;
        border-radius: 5px;

        &:hover {
            color: #868e96;
            background-color: #fff;
            transition: 0.3s ease-in-out all;
            // border: 1px solid #868e96;
        }

        &:last-child {
            margin-top: 5px;
        }
    }

    &__img {
        width: 100%;

        @include atTabletsLandscape {
            height: 323px;
        }
        @include atDesktop {
            height: 373px;
        }

        img {
            width: 100%;
            height: 100%;
            border-top-left-radius: calc(.25rem - 1px);
            border-top-right-radius: calc(.25rem - 1px);
        }
    }
}


.cards__card--main:nth-child(5) {
    margin-right: 0;
}
