.cards {
    
    &__card {
        // box model
        margin-bottom: 100px;
        border: 1px solid rgba(0,0,0,.125);
        
    }
    &__container {
        // box model
        padding: 0 20px;
    }

    &__body {
        // box model
        padding: 20px;
    }

    &__title {
        margin-bottom: 12px;
        // typography
        font-size: 1.5rem;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    }

    &__text {
        margin-bottom: 16px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    }

    &__format {
        margin-bottom: 16px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        color: #868e96;
        
    }

    &__footer {
        padding: 12px 20px;
        background-color: rgba(0,0,0,.03);
        border-top: 1px solid rgba(0,0,0,.125);
    }

    &__badge {
        display: inline-block;
        padding: 3px 6px;
        margin-right: 5px;
        color: #fff;
        background-color: #868e96;
        text-decoration: none;
        border-radius: 5px;

        &:last-child {
            margin-top: 5px;
        }
    }

    &__img {
        width: 100%;

        img {
            width: 100%;
            border-top-left-radius: calc(.25rem - 1px);
            border-top-right-radius: calc(.25rem - 1px);
        }
    }
}