.container {
    margin: 0 auto;
    max-width: 1170px;
    height: 100%;
    display: flex;
    justify-content: center;

    &--breadcrumb {
        @include atDesktop {
            justify-content: center!important;
        }
    }

    @include atDesktop {
        justify-content: stretch;
    }

    &--info {
        flex-direction: column;
        padding: 0 20px;
    }
}

