.form {
    display: flex;
    // order: -2;
    @include atTabletsPortrait {
        // box model
        padding-right: 4%;
    }

    &--footer {
        // box model
        display: flex;
        flex-direction: column;
        align-items: center;

        @include atTabletsPortrait {
            // box model
            padding-right: 0;
        }

        @include atTabletsLandscape {
            // box model
            flex-direction: row;
        }
    }
    &__input {
        // box model
        padding: 8px 12px;
        margin-right: 4%;
        line-height: 1.25;
        color: #495057;
        border-radius: 5px;
        border: 1px solid $accent;
        width: auto;

        @include atSmall {
            // box model
            width: 180px;
        }

        @include atTabletsLandscape {
            // box model
            width: 250px;
        }
        
        @include atDesktop {
            // box model
            width: 500px;
            margin-left: 0;
        }

        &--footer {
            margin-bottom: 20px;
            
            @include atTabletsLandscape {
                margin-bottom: 0;
            }
        }

        &-group {
            // box model
            display: flex;
            flex-direction: column;
            align-items: center;
            
            @include atTabletsPortrait {
                flex-direction: column;
            }

            @include atTabletsLandscape {
                flex-direction: row;
            }
        }
    }
    &--footer {
        margin-bottom: 20px;

        @include atDesktop {
            // box model
            flex-direction: row;
            margin-bottom: 0;
        }
    }
}

.carousel-item {
    // box model
    // height: 300px !important;

    @include atDesktop {
        // box model
        height: auto;
    }
}
.d-block {
    width: 100% !important;
    height: 100% !important;

    @include atDesktop {
        height: auto;
    }
}