.hero {
    background-image: url('./img/bw.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 300px;
    
    @include atTabletsLandscape {
        height: 400px;
    }

    @include atDesktop {
        height: 700px;
    }
}