.logo {
    // box model
    height: 80px;
    margin-top: 15px;
    margin-bottom: 20px;
    // padding: 0 30px;
    padding-left: 30px;
    
    @include atDesktop {
        padding-right: 30px;
        margin-right: 16px;
    }
    
    &--footer {
        margin-top: 20px;
        padding: 0;

        @include atDesktop {
            padding-left: 30px;
        }
    }

    img {
        // box model
        height: 100%;
    }
}