.logo {
    // box model
    height: 80px;
    margin-top: 15px;
    margin-bottom: 20px;
    // padding: 0 30px;
    padding-left: 30px;
    
    &--footer {
        margin-top: 20px;
        padding: 0;
    }

    img {
        // box model
        height: 100%;
    }
}