.main-menu {
    // positioning
    position: fixed;
    top:0;
    bottom: 0;
    left:-100%;
    z-index: 4;

    // box model
    width: 100%;
    padding: 25px 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-start;

    // visual
    background-color: $accent;
    // box-shadow: 0px 7px 16px -8px rgba(0, 0, 0, 0.75);
    transition: 0.3s ease-out all;
    visibility: hidden;
    opacity: 1;

    @include atDesktop {
        // positioninig
        position: static;
        
        // box model
        display: block;
        padding: 15px 25px;
        padding-top: 0;
        padding-bottom: 0;

        // visual
        visibility: visible;
        
    }

    &--shown {
        // positioning
        left: 0;
        visibility: visible;
        opacity: 0.99;
        overflow-y: scroll;

    }


    &__list {
        margin: 0;
        padding-top: 75px;
        padding-left: 0;
        text-align: left;
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include atDesktop {
            flex-direction: row;
            justify-content: flex-start;
            padding-top: 0;
            padding-left: 30px;
        }
    }

    &__item {
        position: relative;
        // box model
        padding-right: 45px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-bottom: 30px;
        display: block;
        position: relative;
        width: 100%;

        @include atDesktop {
            // box model
            padding-bottom: 15px !important;
            width: auto;
            
            &:hover {
                background-color: #222222;
                transition: 0.3s ease-in-out all;
            }
        }

        &::after {
            position: absolute;
            left: 50px;
            content: '';
            display: block;
            height: 15px;
            width: 15px;
            background-size: 5px 5px;
        }
    }

    &__arrow {
            &::after {
                content: "";
                // display: none;
                position:absolute;
                bottom: -30px;
                left: 70px;
                width:0px;
                height:0px;
                border-top: 15px solid $accent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 15px solid transparent;
            }
        }

    &__link {
        // box model
        padding: 0 8px;
        padding-bottom: 20px;
        display: inline-block;
        color: #fff !important;
        font-family: 'RexBold', sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.50rem;
        text-decoration: none;

        @include atTabletsPortrait {
            // box model
            padding-bottom: 0;
            
            // typography
            font-size: 1.25rem;
        }
    }


    &__sublink {
        // display: none;
        font-size: 1.25rem;
        color: #424242 !important;

        @include atTabletsPortrait {
            // typography
            font-size: 1rem;
        }

        &:hover {
            color: $accent !important;
            transition: 0.3s ease-in-out all !important;
        }
    }

    &__dropdown {
        // box model
        // display: none;
        height: 100%;
        list-style: none;

        @include atDesktop {
            padding-left: 0;
        }

        li {
            // box model
            padding-bottom: 15px;
            background-color: $accent !important;
            
            &::before {
                content: '•';
                color: $white;
                display: inline-block;
                width: 3px;
            }
        &-item {
            padding-left: 25px !important;
            padding-right: 25px !important;
        }
            
            @include atDesktop {
                padding-top: 0;
                padding: 0 10px;
                padding-bottom: 15px;
                background-color: white;
            }
        }

        &--shown {
            // box model
            display: block;
            height: 100%;
            // transition: 0.3s ease-in-out all;

            @include atDesktop {
                position: absolute;
                top: 35px;
                // background-color: $accent;
                // visibility: hidden;
            }
            
        }
    }

    &__icon {
        position: absolute;
        top: 18px;
        right: 11px;
        cursor: pointer;
        
        @include atDesktop {
            // display: none;
            z-index: 4;
        }
        
        &--rotate {
            transform: rotate(-180deg);
            transition: 0.25s ease-in-out all;
        }

        &:first-child() {
            display: none;
        }
     }

    @include atDesktop {
        display: block;
    }
    .menu-item {
        // positioning
        position: relative;
        
        // box model
        // width: 100%;
        padding-left: 22px;
        padding-right: 22px;
        padding-bottom: 25px;
        display: block;

   
        @include atDesktop {
            // box model
            padding-bottom: 0;
            width: auto;
            // visibility: hidden
           
        }
    }
        
    .menu-item a {
        // box model
        padding: 0 8px;
        padding-bottom: 20px;
        display: inline-block;
        color: #fff !important;
        font-family: 'RexBold', sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.50rem;
        text-decoration: none;

        @include atTabletsPortrait {
            // box model
            padding-bottom: 0;
            
            // typography
            font-size: 1.25rem;
        }
    }
    .sub-menu {
        // box model
        // display: none;
        
        @include atDesktop {
            // box model
            // padding-left: 30px;
            padding-left: 0 !important;
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 55px;
            left: -100%;
            // overflow-x: hidden;

            // visual
            box-shadow: 0px 7px 16px -8px rgba(0, 0, 0, 0.75);
        }
    }

    .sub-menu--shown {
         // box model
         display: block;
         height: 100%;

         @include atDesktop {
             position: absolute;
             top: 55px;
             display: flex;
         }
    }
    .sub-menu li {
         // box model
         padding-bottom: 15px;
         background-color: $accent;
         
         &::before {
             content: '•';
             color: $white;
             display: inline-block;
             width: 3px;
         }

         @include atDesktop {
             // box model
             padding-top: 0;
             padding-bottom: 20px;
             background-color: white;

             &:hover {

             }
         }
    }
    .sub-menu a {
        // display: none;
        font-size: 1.25rem;
        
        @include atTabletsPortrait {
            // typography
            font-size: 1rem;
        }

        @include atDesktop {
            color: #424242 !important;
        }

        
        &:hover {
            color: $accent !important;
        }
    }
}

    .hide {
        // box model
        display: none !important;
    }
    ul.sub-menu .main-menu-icon {
        // box model
        display: none !important;
    }
    .active {
        // box model
        display: block;
    }