.main-menu {
    // positioning
    position: fixed;
    top:0;
    bottom: 0;
    left:-100%;
    z-index: 4;

    // box model
    width: 100%;
    padding: 25px 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-start;

    // visual
    background-color: $accent;
    // box-shadow: 0px 7px 16px -8px rgba(0, 0, 0, 0.75);
    transition: 0.3s ease-out all;
    visibility: hidden;
    opacity: 1;

    @include atDesktop {
        // positioninig
        position: static;
        
        // box model
        display: block;
        padding: 15px 25px;
        padding-top: 0;
        padding-bottom: 0;

        // visual
        visibility: visible;
        
    }

    &--shown {
        // positioning
        left: 0;
        visibility: visible;
        opacity: 0.99;
        overflow-y: scroll;

    }


    &__list {
        margin: 0;
        padding-top: 75px;
        padding-left: 0;
        text-align: left;
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include atDesktop {
            flex-direction: row;
            justify-content: flex-start;
            padding-top: 0;
            padding-left: 30px;
        }
    }

    &__item {
        position: relative;
        // box model
        padding-right: 45px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-bottom: 30px;
        display: block;
        position: relative;
        width: 100%;

        // &:hover {
        //     background-color: #000000;
        //     transition: 0.3s ease-in-out all;
        // }

        @include atDesktop {
            // box model
            padding-bottom: 15px !important;
            width: auto;
            
            // &:hover {
            //     background-color: #000;
            //     transition: 0.3s ease-in-out all;
            // }
        }

        &::after {
            position: absolute;
            left: 50px;
            content: '';
            display: block;
            height: 15px;
            width: 15px;
            // background: url('data:image/svg+xml;utf8,<svg class="main-menu__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewbox="0 0 129 129" enable-background="new 0 0 129 129" width="20px" height="20px"><g><g><path class="active-path" d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z" data-original="#000000" data-old_color="#000000" fill="#FFFFFF"></path></g></g></svg>');
            background-size: 5px 5px;
        }
    }

    &__link {
        // box model
        padding: 0 8px;
        padding-bottom: 20px;
        display: inline-block;
        color: #fff !important;
        font-family: 'RexBold', sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.50rem;
        text-decoration: none;

        // &:hover {
        //     background-color: #000000;
        //     transition: 0.3s ease-in-out all;
        // }

        @include atTabletsPortrait {
            // box model
            padding-bottom: 0;
            
            // typography
            font-size: 1.25rem;
        }
    }


    &__sublink {
        // display: none;
        font-size: 1.25rem;
        color: #424242 !important;

        @include atTabletsPortrait {
            // typography
            font-size: 1rem;
        }

        &:hover {
            color: $accent !important;
            transition: 0.3s ease-in-out all !important;
        }
    }

    &__dropdown {
        // box model
        // display: none;
        height: 100%;
        list-style: none;

        @include atDesktop {
            padding-left: 0;
        }

        li {
            // box model
            padding-bottom: 15px;
            background-color: $accent !important;
            
            &::before {
                content: '•';
                color: $white;
                display: inline-block;
                width: 3px;
            }
            
            @include atDesktop {
                padding-top: 0;
                padding: 0 10px;
                padding-bottom: 15px;
                background-color: white;
            }
        }

        &--shown {
            // box model
            display: block;
            height: 100%;
            // transition: 0.3s ease-in-out all;

            @include atDesktop {
                position: absolute;
                top: 35px;
                // background-color: $accent;
                // visibility: hidden;
            }
            
        }
    }

    &__icon {
        position: absolute;
        top: 18px;
        right: 11px;
        cursor: pointer;
        
        @include atDesktop {
            // display: none;
            z-index: 4;
        }
        
        &--rotate {
            transform: rotate(-180deg);
            transition: 0.25s ease-in-out all;
        }

        &:first-child() {
            display: none;
        }
     }

    @include atDesktop {
        display: block;
    }
    .menu-item {

        // box model
        padding-right: 45px;
        padding-bottom: 30px;
        display: block;
        position: relative;
        width: 100%;
   
        @include atDesktop {
            // box model
            padding-bottom: 0;
            width: auto;
            // visibility: hidden
           
        }
    }
        
    .menu-item a {
        // box model
        padding: 0 8px;
        padding-bottom: 20px;
        display: inline-block;
        color: #fff !important;
        font-family: 'RexBold', sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.50rem;
        text-decoration: none;

        @include atTabletsPortrait {
            // box model
            padding-bottom: 0;
            
            // typography
            font-size: 1.25rem;
        }
    }
    .sub-menu {
        // box model
        // display: none;
        
        @include atDesktop {
            // box model
            padding-left: 30px;
            display: flex;
            position: absolute;
            top: 55px;
            left: -100%;
            // width: 1920px;
            overflow-x: hidden;
        }
    }

    .sub-menu--shown {
         // box model
         
        //  padding-top: 15px;
         display: block;
         height: 100%;
         // transition: 0.3s ease-in-out all;

         @include atDesktop {
             position: absolute;
             top: 55px;
             display: flex;
             
             // visibility: hidden;
         }
    }
    .sub-menu li {
         // box model
         padding-bottom: 15px;
         background-color: $accent;
         
         &::before {
             content: '•';
             color: $white;
             display: inline-block;
             width: 3px;
         }

         @include atDesktop {
             padding-top: 0;
             padding: 0 20px;
             padding-bottom: 20px;
             background-color: white;
         }
    }
    .sub-menu a {
        // display: none;
        font-size: 1.25rem;
        
        @include atTabletsPortrait {
            // typography
            font-size: 1rem;
            color: #424242 !important;
        }
        
        &:hover {
            color: $accent !important;
        }

        
    }

        

 
}

    .hide {
        // box model
        display: none !important;
    }
    ul.sub-menu .main-menu-icon {
        // box model
        display: none !important;
    }
    .active {
        // box model
        display: block;
    }