.site-header {
    // positioning
    position: relative;

    // box model
    padding: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    

    @include atTabletsPortrait {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    @include atDesktop {
        justify-content: flex-start;
        padding: 0px 25px;
    }

    // visual
    // box-shadow: 0px 7px 16px -8px rgba(0, 0, 0, 0.75);
    background: #222222;


  

    &__container {
        display: flex;
        flex-direction: row;
        // align-items: center;

        @include atTabletsLandscape {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        @include atDesktop {
            justify-content: space-between;
        }
        &--form {
            // display: flex;
            flex-direction: column;
            // order: -3;
        }
    }
}
.fixed {

    @include atDesktop {
        position: fixed;
        top: 0;
        z-index: 4;
        left: 0;
        width: 100%;
    }
}