.socials {
    padding-top: 15px;
    padding-bottom: 27px;
    // order: 1;
    // width: 150px;

    @include atTabletsPortrait {
        order: 2;
    }

    @include atTabletsLandscape {
        // display: none;
    }

    @include atDesktop {
        display: block;
        margin-left: auto;
    }

    &__link {
        padding-right: 10px;
    }
}

.socials__link--info {
    // padding-left: 49px;

    @include atTabletsPortrait {
        padding-left: 0;
    }
}
