.tabs {

    &-pane {
        // box model
        padding: 0 20px;
    }

    &__list {
        // box model
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        text-align: center;

        // visual
        list-style: none;
    }

    &__item {
        // box model
        margin: 50px 0;
        padding-right: 45px;
        
        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            margin-right: 0;
        }

        @include atTabletsPortrait {
            // visual
            border-radius: 5px;
        }

        // visual
        background-color: $mainColor;
        text-align: center;
        padding: 8px 16px;

        &:hover, &:active, &:focus {
            // visual
            transition: 0.3s ease-in-out all;
            background-color: $accent;
        }

        @include atTabletsPortrait {
            // box model
            margin-right: 45px;
        }
    }

    &__link {
        // typography
        color: $white !important;
        cursor: pointer;
        text-decoration: none;
        font-family: $mainFont;
        border-color: #ddd #ddd #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

    }

    &__content {
        // box model
        display: none;
    }

    &__current {
        // box model
        display: inherit;
    }
}