.tabs {
    // display: inline-block;

    &-pane {
        // box model
        padding: 0 20px;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    &__item {
        // box model
        margin: 50px 0;
        // margin-right: 45px;
        padding-right: 45px;

        &:last-child {
            margin-right: 0;
        }
        // visual
        background-color: $mainColor;
        text-align: center;
        padding: 8px 16px;

        @include atDesktop {
            margin-right: 45px;
        }

    }

    &__link {
        // typography
        color: $white !important;
        cursor: pointer;
        text-decoration: none;
        font-family: $mainFont;
        border-color: #ddd #ddd #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

    }

    &__content {
        display: none;
    }

    &__current {
        display: inherit;
    }
}