.version {
    color: $white;
    font-family: $mainFont;
    font-size: 1rem;
    padding-top: 15px;
    // position: absolute;
    // bottom: 10px;
    @include atTabletsPortrait {
        // box model
        padding-top: 0;
    }

    @include atTabletsLandscape {
        // positioning
        right: 150px;
    }

    @include atDesktop {
        // positioning
        right: 250px;
    }
}