section.cards
    .tabs
    .tabs-pane
        ul.tabs__list(id="myTab" role="tablist")
            li.tabs__item(data-tab="tab-1").tabs__current: a.tabs__link Последние
            li.tabs__item(data-tab="tab-2"): a.tabs__link Новые
            li.tabs__item(data-tab="tab-3"): a.tabs__link Популярные

        .tabs__content.tabs__current(id="tab-1")
            .cards__container
                .cards__card.cards__card--main
                    .cards__img: img(src="./img/graduated.jpg" alt="card img")
                    .cards__body
                        h4.cards__title Баннер выпускник
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер

                .cards__card.cards__card--main
                    .cards__img: img(src="./img/open.png" alt="card img")
                    .cards__body
                        h4.cards__title Баннер открытие
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер

                .cards__card.cards__card--main
                    .cards__img: img(src="./img/repost.jpg" alt="card img")
                    .cards__body
                        h4.cards__title Баннеры репост
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер

                .cards__card.cards__card--main
                    .cards__img: img(src="./img/graduated.jpg" alt="card img")
                    .cards__body
                        h4.cards__title Баннер выпускник
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер

                .cards__card.cards__card--main
                    .cards__img: img(src="./img/graduated.jpg" alt="card img")
                    .cards__body
                        h4.cards__title Баннер выпускник
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер
                
        .tabs__content(id="tab-2")
            .cards__container                    
                .cards__card.cards__card--main
                    .cards__img: img(src="./img/repost.jpg" alt="card img")
                    .cards__body
                        h4.cards__title Баннеры репост
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер
                .cards__card.cards__card--main
                    .cards__img: img(src="./img/open.png" alt="card img")
                    .cards__body
                        h4.cards__title Баннер открытие
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер

                .cards__card.cards__card--main
                    .cards__img: img(src="./img/open.png" alt="card img")
                    .cards__body
                        h4.cards__title Баннер открытие
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер

                .cards__card.cards__card--main
                    .cards__img: img(src="./img/open.png" alt="card img")
                    .cards__body
                        h4.cards__title Баннер открытие
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер
                .cards__card.cards__card--main
                    .cards__img: img(src="./img/open.png" alt="card img")
                    .cards__body
                        h4.cards__title Баннер открытие
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер
                .cards__card.cards__card--main
                    .cards__img: img(src="./img/open.png" alt="card img")
                    .cards__body
                        h4.cards__title Баннер открытие
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер
                .cards__card.cards__card--main
                    .cards__img: img(src="./img/graduated.jpg" alt="card img")
                    .cards__body
                        h4.cards__title Баннеры репост
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннеры

        .tabs__content(id="tab-3")
            .cards__container
                .cards__card.cards__card--main
                    .cards__img: img(src="./img/open.png" alt="card img")
                    .cards__body
                        h4.cards__title Баннеры репост
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер

                .cards__card.cards__card--main
                    .cards__img: img(src="./img/repost.jpg" alt="card img")
                    .cards__body
                        h4.cards__title Баннеры репост
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер

                .cards__card.cards__card--main
                    .cards__img: img(src="./img/repost.jpg" alt="card img")
                    .cards__body
                        h4.cards__title Баннеры репост
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер
                
                .cards__card.cards__card--main
                    .cards__img: img(src="./img/open.png" alt="card img")
                    .cards__body
                        h4.cards__title Баннер открытие
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер
                
                .cards__card.cards__card--main
                    .cards__img: img(src="./img/open.png" alt="card img")
                    .cards__body
                        h4.cards__title Баннер открытие
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер

                .cards__card.cards__card--main
                    .cards__img: img(src="./img/open.png" alt="card img")
                    .cards__body
                        h4.cards__title Баннер открытие
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер
                .cards__card.cards__card--main
                    .cards__img: img(src="./img/open.png" alt="card img")
                    .cards__body
                        h4.cards__title Баннер открытие
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер
                .cards__card.cards__card--main
                    .cards__img: img(src="./img/open.png" alt="card img")
                    .cards__body
                        h4.cards__title Баннер открытие
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер
                .cards__card.cards__card--main
                    .cards__img: img(src="./img/open.png" alt="card img")
                    .cards__body
                        h4.cards__title Баннер открытие
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер
                .cards__card.cards__card--main
                    .cards__img: img(src="./img/open.png" alt="card img")
                    .cards__body
                        h4.cards__title Баннер открытие
                        p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                        p.cards__format Форматы: JPEG, PSD, AI
                        a.button.button--download(href="#") Скачать архив
                    .cards__footer
                        a.cards__badge(href="#") Веб
                        a.cards__badge(href="#") Квадратные
                        a.cards__badge(href="#") ВКонтакте
                        a.cards__badge(href="#") Баннер