section.cards
    .cards__container
        .cards__card.cards__card--catalog
            .cards__img: img(src="./img/graduated.jpg" alt="card img")
            .cards__body
                h4.cards__title Баннер выпускник
                p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                p.cards__format Форматы: JPEG, PSD, AI
                a.button.button--download(href="#") Скачать архив
            .cards__footer
                a.cards__badge(href="#") Веб
                a.cards__badge(href="#") Квадратные
                a.cards__badge(href="#") ВКонтакте
                a.cards__badge(href="#") Баннер

        .cards__card.cards__card--catalog
            .cards__img: img(src="./img/open.png" alt="card img")
            .cards__body
                h4.cards__title Баннер открытие
                p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                p.cards__format Форматы: JPEG, PSD, AI
                a.button.button--download(href="#") Скачать архив
            .cards__footer
                a.cards__badge(href="#") Веб
                a.cards__badge(href="#") Квадратные
                a.cards__badge(href="#") ВКонтакте
                a.cards__badge(href="#") Баннер

        .cards__card.cards__card--catalog
            .cards__img: img(src="./img/repost.jpg" alt="card img")
            .cards__body
                h4.cards__title Баннеры репост
                p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                p.cards__format Форматы: JPEG, PSD, AI
                a.button.button--download(href="#") Скачать архив
            .cards__footer
                a.cards__badge(href="#") Веб
                a.cards__badge(href="#") Квадратные
                a.cards__badge(href="#") ВКонтакте
                a.cards__badge(href="#") Баннер

        .cards__card.cards__card--catalog
            .cards__img: img(src="./img/graduated.jpg" alt="card img")
            .cards__body
                h4.cards__title Баннер выпускник
                p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                p.cards__format Форматы: JPEG, PSD, AI
                a.button.button--download(href="#") Скачать архив
            .cards__footer
                a.cards__badge(href="#") Веб
                a.cards__badge(href="#") Квадратные
                a.cards__badge(href="#") ВКонтакте
                a.cards__badge(href="#") Баннер

        .cards__card.cards__card--catalog
            .cards__img: img(src="./img/graduated.jpg" alt="card img")
            .cards__body
                h4.cards__title Баннер выпускник
                p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                p.cards__format Форматы: JPEG, PSD, AI
                a.button.button--download(href="#") Скачать архив
            .cards__footer
                a.cards__badge(href="#") Веб
                a.cards__badge(href="#") Квадратные
                a.cards__badge(href="#") ВКонтакте
                a.cards__badge(href="#") Баннер
        

        .cards__card.cards__card--catalog
            .cards__img: img(src="./img/repost.jpg" alt="card img")
            .cards__body
                h4.cards__title Баннеры репост
                p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                p.cards__format Форматы: JPEG, PSD, AI
                a.button.button--download(href="#") Скачать архив
            .cards__footer
                a.cards__badge(href="#") Веб
                a.cards__badge(href="#") Квадратные
                a.cards__badge(href="#") ВКонтакте
                a.cards__badge(href="#") Баннер
        .cards__card.cards__card--catalog
            .cards__img: img(src="./img/open.png" alt="card img")
            .cards__body
                h4.cards__title Баннер открытие
                p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                p.cards__format Форматы: JPEG, PSD, AI
                a.button.button--download(href="#") Скачать архив
            .cards__footer
                a.cards__badge(href="#") Веб
                a.cards__badge(href="#") Квадратные
                a.cards__badge(href="#") ВКонтакте
                a.cards__badge(href="#") Баннер

        .cards__card.cards__card--catalog
            .cards__img: img(src="./img/open.png" alt="card img")
            .cards__body
                h4.cards__title Баннер открытие
                p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                p.cards__format Форматы: JPEG, PSD, AI
                a.button.button--download(href="#") Скачать архив
            .cards__footer
                a.cards__badge(href="#") Веб
                a.cards__badge(href="#") Квадратные
                a.cards__badge(href="#") ВКонтакте
                a.cards__badge(href="#") Баннер

        .cards__card.cards__card--catalog
            .cards__img: img(src="./img/open.png" alt="card img")
            .cards__body
                h4.cards__title Баннер открытие
                p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                p.cards__format Форматы: JPEG, PSD, AI
                a.button.button--download(href="#") Скачать архив
            .cards__footer
                a.cards__badge(href="#") Веб
                a.cards__badge(href="#") Квадратные
                a.cards__badge(href="#") ВКонтакте
                a.cards__badge(href="#") Баннер

        .cards__card.cards__card--catalog
            .cards__img: img(src="./img/open.png" alt="card img")
            .cards__body
                h4.cards__title Баннер открытие
                p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                p.cards__format Форматы: JPEG, PSD, AI
                a.button.button--download(href="#") Скачать архив
            .cards__footer
                a.cards__badge(href="#") Веб
                a.cards__badge(href="#") Квадратные
                a.cards__badge(href="#") ВКонтакте
                a.cards__badge(href="#") Баннер

        .cards__card.cards__card--catalog
            .cards__img: img(src="./img/open.png" alt="card img")
            .cards__body
                h4.cards__title Баннер открытие
                p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                p.cards__format Форматы: JPEG, PSD, AI
                a.button.button--download(href="#") Скачать архив
            .cards__footer
                a.cards__badge(href="#") Веб
                a.cards__badge(href="#") Квадратные
                a.cards__badge(href="#") ВКонтакте
                a.cards__badge(href="#") Баннер

        .cards__card.cards__card--catalog
            .cards__img: img(src="./img/graduated.jpg" alt="card img")
            .cards__body
                h4.cards__title Баннеры репост
                p.cards__text Иллюстрация для использования в социальных сетях. Скидка 20% для выпускников.
                p.cards__format Форматы: JPEG, PSD, AI
                a.button.button--download(href="#") Скачать архив
            .cards__footer
                a.cards__badge(href="#") Веб
                a.cards__badge(href="#") Квадратные
                a.cards__badge(href="#") ВКонтакте
                a.cards__badge(href="#") Баннеры
