footer.site-footer
    .site-footer__container
        a(href="index.html")
            .logo.logo--footer: img(src="./img/logo-new.png")
        form.form.form--footer#subscribe-form
            .form__input-group
                input.form__input.form__input--footer(type="email" placeholder="Подписаться на рассылку" area-label="Поиск")
                input.button.button--footer(type="submit" name="email" value="Подписаться")
        include socials.pug