nav.main-menu
    ul.main-menu__list
        li.main-menu__item
            a.main-menu__link(href="catalog.html") Полиграфия
            svg.main-menu__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', viewbox='0 0 129 129', enable-background='new 0 0 129 129', width='20px', height='20px')
                g
                    g
                        path.active-path(d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z', data-original='#000000', data-old_color='#000000', fill='#FFFFFF')
                ul.main-menu__dropdown
                    li.main-menu__dropdown-item: a.main-menu__link.main-menu__sublink(href="#") Баннеры
                    li.main-menu__dropdown-item: a.main-menu__link.main-menu__sublink(href="#") Баннеры
                    li.main-menu__dropdown-item: a.main-menu__link.main-menu__sublink(href="#") Шрифты
                    li.main-menu__dropdown-item: a.main-menu__link.main-menu__sublink(href="#") Футболки
                    li.main-menu__dropdown-item: a.main-menu__link.main-menu__sublink(href="#") Флаеры
                    li.main-menu__dropdown-item: a.main-menu__link.main-menu__sublink(href="#") Стикеры
                    li.main-menu__dropdown-item: a.main-menu__link.main-menu__sublink(href="#") Сертификаты
                    li.main-menu__dropdown-item: a.main-menu__link.main-menu__sublink(href="#") Прайсы
                    li.main-menu__dropdown-item: a.main-menu__link.main-menu__sublink(href="#") Окна и двери
                    li.main-menu__dropdown-item: a.main-menu__link.main-menu__sublink(href="#") Наружная реклама
                    li.main-menu__dropdown-item: a.main-menu__link.main-menu__sublink(href="#") Наклейка
                    li.main-menu__dropdown-item: a.main-menu__link.main-menu__sublink(href="#") Конверты
                    li.main-menu__dropdown-item: a.main-menu__link.main-menu__sublink(href="#") Карты скидок
                    li.main-menu__dropdown-item: a.main-menu__link.main-menu__sublink(href="#") Карты лояльности
                    li.main-menu__dropdown-item: a.main-menu__link.main-menu__sublink(href="#") Информационный&nbsp;стенд
                    li.main-menu__dropdown-item: a.main-menu__link.main-menu__sublink(href="#") Зеркала
                    li.main-menu__dropdown-item: a.main-menu__link.main-menu__sublink(href="#") Вывески
                    li.main-menu__dropdown-item: a.main-menu__link.main-menu__sublink(href="#") Визитки
        li.main-menu__item
            a.main-menu__link(href="#") Лого
            svg.main-menu__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', viewbox='0 0 129 129', enable-background='new 0 0 129 129', width='20px', height='20px')
                g
                    g
                        path.active-path(d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z', data-original='#000000', data-old_color='#000000', fill='#FFFFFF')
            ul.main-menu__dropdown
                li: a.main-menu__link.main-menu__sublink(href="#") Баннеры
                li: a.main-menu__link.main-menu__sublink(href="#") Баннеры
        li.main-menu__item
            a.main-menu__link(href="#") Документы
            svg.main-menu__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', viewbox='0 0 129 129', enable-background='new 0 0 129 129', width='20px', height='20px')
                g
                    g
                        path.active-path(d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z', data-original='#000000', data-old_color='#000000', fill='#FFFFFF')
            ul.main-menu__dropdown
                li: a.main-menu__link.main-menu__sublink(href="#") Баннеры
                li: a.main-menu__link.main-menu__sublink(href="#") Баннеры
        li.main-menu__item
            a.main-menu__link(href="#") Видео
            svg.main-menu__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', viewbox='0 0 129 129', enable-background='new 0 0 129 129', width='20px', height='20px')
                g
                    g
                            path.active-path(d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z', data-original='#000000', data-old_color='#000000', fill='#FFFFFF')
            ul.main-menu__dropdown
                li: a.main-menu__link.main-menu__sublink(href="#") Баннеры
                li: a.main-menu__link.main-menu__sublink(href="#") Баннеры
        li.main-menu__item
            a.main-menu__link(href="#") Веб-Баннеры
            svg.main-menu__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', viewbox='0 0 129 129', enable-background='new 0 0 129 129', width='20px', height='20px')
                g
                    g
                        path.active-path(d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z', data-original='#000000', data-old_color='#000000', fill='#FFFFFF')
            ul.main-menu__dropdown
                li: a.main-menu__link.main-menu__sublink(href="#") Баннеры
                li: a.main-menu__link.main-menu__sublink(href="#") Баннеры
        li.main-menu__item
            a.main-menu__link(href="#") Команда
            svg.main-menu__icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', viewbox='0 0 129 129', enable-background='new 0 0 129 129', width='20px', height='20px')
                g
                    g
                        path.active-path(d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z', data-original='#000000', data-old_color='#000000', fill='#FFFFFF')
            ul.main-menu__dropdown
                li: a.main-menu__link.main-menu__sublink(href="#") Баннеры
                li: a.main-menu__link.main-menu__sublink(href="#") Баннеры