<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        //- meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="styles.min.css")
        title Главная
    body
        header.site-header
                .logo: img(src="./img/logo-new.png")
                include ./templates/socials.pug
                .menu-icon: .menu-icon__middle
                form.form
                    input.form__input(type="text" placeholder="Поиск" area-label="Поиск")
                    button.button(type="submit") Искать
                    
        include ./templates/main-menu.pug

        section.hero
        include ./templates/cards.pug

        include ./templates/footer.pug
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        script(src="scripts.js")
        script(src="slider.js")
        script(src="ajax.js")

        